{% extends 'base.html' %}
{% block body %}

<style>
    gmp-place-autocomplete {
  width: 80%;
}

#infowindow-content .title {
  font-weight: bold;
}

#map #infowindow-content {
  display: inline;
}
</style>

<div id="responseText" style="width:100%;height:20px;"></div>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-info">Logout</button>
</form>

    <button id="to_navigate" class="btn btn-info">nagivate</button>
    <button id="to_account" class="btn btn-info">account</button>
    <button id="to_about" class="btn btn-info">about</button>
    <button id="to_contact" class="btn btn-info">contact</button><br/>

    <div id="navigate" style="width:100%;height:70vh;display:flex;">
        <div id="leftpart" style="width:30%;height:100%;float:left;">
            <div class="topLeft1" id="topLeft1" style="background-color: #fff; border-radius: 5px 0px 5px 0px; margin: 0px; padding: 5px; font-family: Roboto, sans-serif; font-size: large; font-weight: bold; height: 30%; width: 100%;border:1px solid black;border-bottom:0px;">
                <p>Search for a place here:</p>
                <button id="generate-routes" class="btn btn-primary">Generate Routes</button>
            </div>
            <div id="route-list-container" class="topLeft1" style="background-color: rgb(255, 255, 255); margin: 0px; border-radius: 0px 5px 0px 0px; padding: 5px; font-family: Roboto, sans-serif; font-size: small; overflow: scroll; height: 70%; width: 100%;border-left: 1px solid black;border-right: 1px solid black;border-bottom: 1px solid black;">
                <p>Input places above</p>
            </div>
            <div id="route-info-container" class="topLeft1" style="display:none; background-color: rgb(255, 255, 255); border-radius: 0px 5px 0px 0px; margin: 0px; padding: 5px; font-family: Roboto, sans-serif; font-size: small; overflow: scroll; height: 70%; width: 100%;border-left: 1px solid black;border-right: 1px solid black;border-bottom: 1px solid black;">
                <p>Route info</p>
            </div>
        </div>
        <div id="rightpart" style="width:70%;height:100%;margin:0;float:right;">
            <div id="map" style="height:100%;border-radius: 5px;border:1px solid black;"></div>
        </div>
    </div>
    
    <div id="account">
        ACCOUNT SETTINGS<br/>
        <button id="to_profile" class="btn btn-info">profile</button>
        <button id="to_prefs" class="btn btn-info">preferences</button>
        <button id="to_mapsettings" class="btn btn-info">map settings</button><br/>
        <div id="profile">
            &nbsp;&nbsp;&nbsp;&nbsp;MY PROFILE<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="firstname" value="{{firstname}}" name="firstname" type="text" placeholder="First name"/>
                    <input id="lastname" value="{{lastname}}" name="lastname" type="text" placeholder="Last name"/>
                    <input id="email" value="{{email}}" name="email" type="email" placeholder="Email" readonly/>
                    <input id="phone" value="{{phone}}" name="phone" type="text" placeholder="Phone number, format +'COUNTRYCODE''NUMBER'"/>
                    <button id="btn-update-user-details" class="btn btn-info">UPDATE</button><br/>
        </div>
        <div id="prefs">
            &nbsp;&nbsp;&nbsp;&nbsp;PREFERENCES<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% if floors %}
                        <input type="checkbox" name="lowfloorbuses" id="lowfloorbuses" value="lowfloorbuses" checked>
                    {% else %}
                        <input type="checkbox" name="lowfloorbuses" id="lowfloorbuses" value="lowfloorbuses">
                    {% endif %}
                    <label for="lowfloorbuses"> Low Floor Buses</label><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% if wheels %}
                        <input type="checkbox" name="wheelchair" id="wheelchair" value="wheelchair" checked>
                    {% else %}
                        <input type="checkbox" name="wheelchair" id="wheelchair" value="wheelchair">
                    {% endif %}
                    <label for="wheelchair"> Wheelchair Ramps and Lifts</label><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% if animals %}
                        <input type="checkbox" name="serviceanimal" id="serviceanimal" value="serviceanimal" checked>
                    {% else %}
                        <input type="checkbox" name="serviceanimal" id="serviceanimal" value="serviceanimal">
                    {% endif %}
                    <label for="serviceanimal"> Service Animal Friendly</label><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% if braille %}
                        <input type="checkbox" name="braille" id="braille" value="braille" checked>
                    {% else %}
                        <input type="checkbox" name="braille" id="braille" value="braille">
                    {% endif %}
                    <label for="braille"> Braille and Large Print Signage</label><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% if elevators %}
                        <input type="checkbox" name="elevators" id="elevators" value="elevators" checked>
                    {% else %}
                        <input type="checkbox" name="elevators" id="elevators" value="elevators">
                    {% endif %}
                    <label for="elevators"> Elevators and Escalators</label><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button id="btn-update-preferences" class="btn btn-info">UPDATE</button><br/>
        </div>
        <div id="mapsettings">
            &nbsp;&nbsp;&nbsp;&nbsp;MAP SETTINGS<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% if challenge %}
                        <input type="checkbox" name="challenge" id="challenge" value="challenge" checked>
                    {% else %}
                        <input type="checkbox" name="challenge" id="challenge" value="challenge">
                    {% endif %}
                    <label for="challenge"> Make more challenging routes redder</label><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% if accessibility %}
                        <input type="checkbox" name="accessibility" id="accessibility" value="accessibility" checked>
                    {% else %}
                        <input type="checkbox" name="accessibility" id="accessibility" value="accessibility">
                    {% endif %}
                    <label for="accessibility"> Prioritize accessibility over time</label><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% if autosave %}
                        <input type="checkbox" name="autosave" id="autosave" value="autosave" checked>
                    {% else %}
                        <input type="checkbox" name="autosave" id="autosave" value="autosave">
                    {% endif %}
                    <label for="autosave"> Auto-save each route to your history</label><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button id="btn-update-mapsettings" class="btn btn-info">UPDATE</button><br/>
        </div>
    </div>
    <div id="about">
        ABOUT<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;--<br/>
    </div>
    <div id="contact">
        CONTACT<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;--
    </div>

    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyCbZ2QUNhC61wdGwvKkjyTV4M3KkEKtX_E", v: "beta"});</script>

    <script>
        let challenge = false;
        let accessibility = false;
        let autosave = false;

        function generateHexColor(x, y) {
            var hexColor = "#000000";
            if(challenge){
                if (y === 0) {
                    throw new Error("y cannot be zero");
                }

                // Calculate the ratio
                let ratio = x / y;

                // Clamp the ratio between 0 and 1
                ratio = Math.max(0, Math.min(1, ratio));

                // Calculate the red and green components
                const red = Math.round(255 * ratio);
                const green = Math.round(255 * (1 - ratio));

                // Convert to hex and pad with zeroes if necessary
                const redHex = red.toString(16).padStart(2, '0');
                const greenHex = green.toString(16).padStart(2, '0');

                // Construct the hex color
                hexColor = `#${redHex}${greenHex}00`;
            }
            return hexColor;
        }

        async function reportIssueTransit(sp){
            console.log("AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaa");
            console.log(sp);
            let problem = prompt("Report an accessibility issue", "No escalator access");
            if (problem == null || problem == "") {
            } else {
                console.log("Accessibility issue: " + problem);
                const response3 = await fetch("add-issue/", {
                    method: "POST",
                    cache: "no-cache",
                    headers: {
                        "Content-Type": "application/json",
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({"places": [sp.dataset.name], "issue": problem}),
                });
                const result3 = await response3.json();
                console.log(result3);
            }
        }
        document.addEventListener('DOMContentLoaded', async () => {

            let map;
            let marker1;
            let marker2;
            let infoWindow1;
            let infoWindow2;
            let place1 = null;
            let place2 = null;
            let directionsService;
            let directionsRenderer;
            let routes = [];
            let curr_route_accessibility_check = [];
            let route_accessibility_check = [];
            let curr_numIssues = [];
            let numIssues = [];
            let curr_numGoods = [];
            let numGoods = [];
            let first;
            let second;

            const response99 = await fetch("get-map-settings/", {
                method: "POST",
                cache: "no-cache",
                headers: {
                    "Content-Type": "application/json",
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({}),
            });
            const result99 = await response99.json();
            challenge = result99["challenge"];
            accessibility = result99["accessibility"];
            autosave = result99["autosave"];

            async function initMap() {
                // Request needed libraries.
                //@ts-ignore
                const [{ Map }, { AdvancedMarkerElement }, { Geometry }] = await Promise.all([
                    google.maps.importLibrary("maps"),
                    google.maps.importLibrary("marker"),
                    google.maps.importLibrary("places"),
                    google.maps.importLibrary("geometry"),
                ]);

                directionsService = new google.maps.DirectionsService();
                directionsRenderer = new google.maps.DirectionsRenderer();

                // Initialize the map.
                map = new google.maps.Map(document.getElementById("map"), {
                    center: { lat: 40.749933, lng: -73.98633 },
                    zoom: 13,
                    mapId: "4504f8b37365c3d0",
                    mapTypeControl: false,
                });

                directionsRenderer.setMap(map);

                //@ts-ignore
                const placeAutocomplete = new google.maps.places.PlaceAutocompleteElement();
                //@ts-ignore
                placeAutocomplete.id = "place-autocomplete-input";
                const card = document.getElementById("topLeft1");

                placeAutocomplete.addEventListener("gmp-placeselect", async ({ place }) => {
                    await place.fetchFields({
                        fields: ["displayName", "formattedAddress", "location"],
                    });
                    first = place.toJSON()["displayName"];
                });


                //@ts-ignore
                card.appendChild(placeAutocomplete);

                //@ts-ignore
                const placeAutocomplete2 = new google.maps.places.PlaceAutocompleteElement();
                //@ts-ignore
                placeAutocomplete2.id = "place-autocomplete-input2";

                placeAutocomplete2.addEventListener("gmp-placeselect", async ({ place }) => {
                    await place.fetchFields({
                        fields: ["displayName", "formattedAddress", "location"],
                    });
                    second = place.toJSON()["displayName"];
                });
                //@ts-ignore
                card.appendChild(placeAutocomplete2);

                // Create the markers and infowindows
                marker1 = new google.maps.marker.AdvancedMarkerElement({
                    map,
                });
                marker2 = new google.maps.marker.AdvancedMarkerElement({
                    map,
                });

                infoWindow1 = new google.maps.InfoWindow({});
                infoWindow2 = new google.maps.InfoWindow({});

                // Add the gmp-placeselect listener, and display the results on the map.
                //@ts-ignore
                placeAutocomplete.addEventListener("gmp-placeselect", async ({ place }) => {
                    await place.fetchFields({
                        fields: ["displayName", "formattedAddress", "location"],
                    });
                    place1 = place;
                    updateMapAndMarkers();
                });

                //@ts-ignore
                placeAutocomplete2.addEventListener("gmp-placeselect", async ({ place }) => {
                    await place.fetchFields({
                        fields: ["displayName", "formattedAddress", "location"],
                    });
                    place2 = place;
                    updateMapAndMarkers();
                });
            }

            // Helper function to update the map and markers.
            function updateMapAndMarkers() {
                if (place1 && place1.location) {
                    let content1 =
                        '<div id="infowindow-content">' +
                        '<span id="place-displayname" class="title">' +
                        place1.displayName +
                        "</span><br />" +
                        '<span id="place-address">' +
                        place1.formattedAddress +
                        "</span>" +
                        "</div>";
                    updateInfoWindow(infoWindow1, content1, place1.location, marker1);
                    marker1.position = place1.location;
                }

                if (place2 && place2.location) {
                    let content2 =
                        '<div id="infowindow-content">' +
                        '<span id="place-displayname" class="title">' +
                        place2.displayName +
                        "</span><br />" +
                        '<span id="place-address">' +
                        place2.formattedAddress +
                        "</span>" +
                        "</div>";
                    updateInfoWindow(infoWindow2, content2, place2.location, marker2);
                    marker2.position = place2.location;
                }

                // Adjust the map to fit both markers if both places are selected.
                if (place1 && place2) {
                    const bounds = new google.maps.LatLngBounds();
                    bounds.extend(place1.location);
                    bounds.extend(place2.location);
                    map.fitBounds(bounds);
                } else if (place1) {
                    map.setCenter(place1.location);
                    map.setZoom(17);
                } else if (place2) {
                    map.setCenter(place2.location);
                    map.setZoom(17);
                }
            }

            // Helper function to create an info window.
            function updateInfoWindow(infoWindow, content, center, marker) {
                infoWindow.setContent(content);
                infoWindow.setPosition(center);
                infoWindow.open({
                    map,
                    anchor: marker,
                    shouldFocus: false,
                });
            }

            async function generateRoutes() {
                if (!place1 || !place2) {
                    alert("Please select two places to generate routes.");
                    return;
                }

                const response199 = await fetch("get-map-settings/", {
                    method: "POST",
                    cache: "no-cache",
                    headers: {
                        "Content-Type": "application/json",
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({}),
                });
                const result199 = await response199.json();
                challenge = result199["challenge"];
                accessibility = result199["accessibility"];
                autosave = result199["autosave"];

                curr_route_accessibility_check = [];
                route_accessibility_check = [];
                curr_numIssues = [];
                numIssues = [];


                let request = {
                    origin: place1.location,
                    destination: place2.location,
                    travelMode: 'TRANSIT',
                    provideRouteAlternatives: true,
                    transitOptions: {
                        routingPreference: 'LESS_WALKING'
                    }
                };
                console.log(place1);
                console.log(place1.location);

                directionsService.route(request, async function(result, status) {
                    if (status == 'OK') {
                        const response = await fetch("save-route/", {
                            method: "POST",
                            cache: "no-cache",
                            headers: {
                                "Content-Type": "application/json",
                                'X-CSRFToken': '{{ csrf_token }}'
                            },
                            body: JSON.stringify({"start": first, "end": second}),
                        });
                        const result2 = await response.json();
                        console.log(result2);
                        displayRoutes(result);
                    } else {
                        alert('Could not generate routes: ' + status);
                    }
                });

            }

            async function displayRoutes(result) {
                try {
                    map.directionsRenderers.forEach((r, i) => {
                        r.setMap(null);
                    });
                    map.directionsRenderers = [];
                } catch {
                    map.directionsRenderers = [];
                }
                console.log(map.directionsRenderers);
                routes = [];

                // Define colors for routes
                const routeColors = ['#0000FF', '#FF0000', '#00FF00', '#FF00FF'];

                // Create the route list container
                let routeListContainer = document.getElementById('route-list-container');
                routeListContainer.innerHTML = ''; // Clear previous routes

                // Create an array to store the route items
                let routeItems = [];

                // Display each route with a different color and list them in the container
                console.log(result.routes);
                for (const [index, route] of result.routes.entries()) {
                    const renderer = new google.maps.DirectionsRenderer({
                        map: map,
                        directions: result,
                        routeIndex: index, // Specify the route index to display
                        polylineOptions: {
                            strokeColor: routeColors[index % routeColors.length], // Cycle through colors
                            strokeOpacity: 0.7,
                            strokeWeight: 5
                        },
                        suppressMarkers: true // Suppress default markers
                    });

                    // Store the renderer
                    map.directionsRenderers.push(renderer);
                    routes.push(route);

                    curr_route_accessibility_check = [];
                    curr_numIssues = [];
                    curr_numGoods = [];
                    for (const step of route.legs[0].steps) {
                        if (step.travel_mode === "TRANSIT") {
                            const stop0 = step.transit.departure_stop.name + " ||| " + step.transit.line.agencies[0].name;
                            const stop1 = step.transit.arrival_stop.name + " ||| " + step.transit.line.agencies[0].name;
                            const response3 = await fetch("get-issues/", {
                                method: "POST",
                                cache: "no-cache",
                                headers: {
                                    "Content-Type": "application/json",
                                    'X-CSRFToken': '{{ csrf_token }}'
                                },
                                body: JSON.stringify({"places": [stop0]}),
                            });
                            const result3 = await response3.json();
                            const response4 = await fetch("get-issues/", {
                                method: "POST",
                                cache: "no-cache",
                                headers: {
                                    "Content-Type": "application/json",
                                    'X-CSRFToken': '{{ csrf_token }}'
                                },
                                body: JSON.stringify({"places": [stop1]}),
                            });
                            const result4 = await response4.json();
                            const response5 = await fetch("get-goods/", {
                                method: "POST",
                                cache: "no-cache",
                                headers: {
                                    "Content-Type": "application/json",
                                    'X-CSRFToken': '{{ csrf_token }}'
                                },
                                body: JSON.stringify({"places": [stop0]}),
                            });
                            const result5 = await response5.json();
                            const response6 = await fetch("get-goods/", {
                                method: "POST",
                                cache: "no-cache",
                                headers: {
                                    "Content-Type": "application/json",
                                    'X-CSRFToken': '{{ csrf_token }}'
                                },
                                body: JSON.stringify({"places": [stop1]}),
                            });
                            const result6 = await response6.json();
                            curr_route_accessibility_check.push([stop0, stop1]);
                            curr_numIssues.push([result3["data"], result4["data"]]);
                            
                            curr_numGoods.push([result5["data"], result6["data"]]);
                        } else {
                            const outerList = [];
                            const outerList2 = [];
                            for (const innerstep of step.steps) {
                                if (innerstep.instructions) {
                                    const innerList = [];
                                    try {
                                        const response1 = await fetch(`https://api.geoapify.com/v1/geocode/reverse?lat=${innerstep.start_location.lat()}&lon=${innerstep.start_location.lng()}&type=street&lang=en&limit=1&format=json&apiKey=95be0cf25e324f7f998ceccffb5364c0`);
                                        const result1 = await response1.json();
                                        console.log(result1);
                                        innerList.push(result1.results[0].place_id);
                                        const response2 = await fetch(`https://api.geoapify.com/v1/geocode/reverse?lat=${innerstep.end_location.lat()}&lon=${innerstep.end_location.lng()}&type=street&lang=en&limit=1&format=json&apiKey=95be0cf25e324f7f998ceccffb5364c0`);
                                        const result2 = await response2.json();
                                        console.log(result2);
                                        innerList.push(result2.results[0].place_id);
                                    } catch (error) {
                                        console.log('error', error);
                                    }
                                    const response3 = await fetch("get-issues/", {
                                        method: "POST",
                                        cache: "no-cache",
                                        headers: {
                                            "Content-Type": "application/json",
                                            'X-CSRFToken': '{{ csrf_token }}'
                                        },
                                        body: JSON.stringify({"places": innerList}),
                                    });
                                    const result3 = await response3.json();
                                    outerList2.push(result3["data"]);
                                    outerList.push(innerList);
                                }
                            }
                            curr_route_accessibility_check.push(outerList);
                            curr_numIssues.push(outerList2);
                        }
                    }
                    route_accessibility_check.push(curr_route_accessibility_check);
                    numIssues.push(curr_numIssues);
                    numGoods.push(curr_numGoods);
                    console.log("jasdkfhaksjdhasdfhiashdihasuidhiashdiuhasuidhfhdfiashduihasdifhasiudhfasiudhfiansdfnasjkdnfkajsndfjknasjdnfnakjsjdbfkjajsbdfkjansdkjnfakjsdnfkjandkfansdjkfnakjdnfkjafsndkfanksdfjanskjdfnkasndfkjasndkjfnask");
                    console.log(curr_numIssues);
                    var count = 0;
                    var count1 = 0;
                    for(var p=0;p<curr_numIssues.length;p++){
                        for(var l=0;l<curr_numIssues[p].length;l++){
                            if(curr_numIssues[p][l].length != 0){
                                count += 1;
                            }
                            count1 += 1;
                        }
                    }

                    var count2 = 0;
                    var count3 = 0;
                    for(var p=0;p<curr_numGoods.length;p++){
                        for(var l=0;l<curr_numGoods[p].length;l++){
                            if(curr_numGoods[p][l].length != 0){
                                count2 += 1;
                            }
                            count3 += 1;
                        }
                    }

                    console.log(count);
                    console.log(count1);
                    console.log();
                    console.log(count2);
                    console.log(count3);
                    console.log();
                    console.log();

                    // Create a list item for the route
                    const routeItem = document.createElement('div');
                    routeItem.style = 'margin: 10px 0; cursor: pointer; border-bottom: 1px solid black;';
                    routeItem.innerHTML = `<strong>Route ${index + 1}</strong>: ${route.legs[0].start_address} to ${route.legs[0].end_address} taking <strong>${route.legs[0].duration.text}</strong>, from <strong>${route.legs[0].departure_time.text}</strong> to <strong>${route.legs[0].arrival_time.text}</strong> - <span style="color:darkred"><b>${count}</b> Issues</span> - <span style="color:darkgreen"><b>${count2}</b> Good things</span>`;
                    routeItem.dataset.index = index;
                    routeItem.dataset.count = count;
                    routeItem.dataset.count1 = count1;

                    // Add event listener to highlight the route on the map when clicked
                    routeItem.addEventListener('click', async function() {
                        console.log(numIssues);
                        for (let i = 0; i < routeListContainer.children.length; i++) {
                            routeListContainer.children[i].style.background = "white";
                        }
                        routeItem.style.background = "lightgray";
                        map.directionsRenderers.forEach((r, i) => {
                            console.log("HEHEHEHEHEHEHEHEHEHEHEHE");
                            console.log(r);
                            console.log(count);
                            console.log(count1);
                            console.log(generateHexColor(count, count1));
                            console.log("#########################################################################");
                            if (i === index) {
                                r.setOptions({ polylineOptions: { strokeWeight: 5, strokeColor: generateHexColor(this.dataset.count, this.dataset.count1) } });
                                r.setMap(map);
                            } else {
                                r.setOptions({ polylineOptions: { strokeWeight: 1 } });
                                r.setMap(null);
                            }
                        });
                        routeListContainer.style.display = "none";
                        document.getElementById("route-info-container").style.display = "block";

                        document.getElementById("route-info-container").innerHTML = `<h3>Route information (${route.legs[0].duration.text}):</h3>`;

                        const detailedSteps = document.createElement('ul');
                        detailedSteps.style = 'padding-left: 20px;';

                        const curr_route = routes[index];
                        console.log(curr_route);
                        var i = 0;
                        var i1 = 0;
                        for (const step of route.legs[0].steps) {
                            console.log("akdsjfsajlsdfaosjfoasjifoajsdojasoidjfaosdjaoifd");
                            console.log(step);
                            const stepItem = document.createElement('li');
                            if (step.travel_mode === "TRANSIT") {
                                stepItem.innerHTML = step.instructions + ` <span style="color:darkblue"><i>[<span onclick="reportIssueTransit(this)" data-name="${step.transit.departure_stop.name} ||| ${step.transit.line.agencies[0].name}"><strong>${step.transit.departure_stop.name}</strong></span> to <span onclick="reportIssueTransit(this)" data-name="${step.transit.arrival_stop.name} ||| ${step.transit.line.agencies[0].name}"><strong>${step.transit.arrival_stop.name}</strong></span> on <strong>${step.transit.line.name}</strong> ||| <strong>${step.transit.line.agencies[0].name}</strong>]</i></span> ` + ` <strong>(${step.duration.text})</strong> - `;
                                try{
                                    console.log("HASDLAHSDFASLADHFL");
                                    console.log(numIssues);
                                    console.log(numIssues[index][i]);
                                    for(var k=0;k<numIssues[index][i][0].length;k++){
                                        stepItem.innerHTML += `<span style="color:darkred;">${numIssues[index][i][0][k][0]} (<b>${numIssues[index][i][0][k][1]}</b>)</span>, `;
                                    }
                                    for(var k=0;k<numIssues[index][i][1].length;k++){
                                        stepItem.innerHTML += `<span style="color:darkred;">${numIssues[index][i][1][k][0]} (<b>${numIssues[index][i][1][k][1]}</b>)</span>, `;
                                    }
                                }
                                catch (error){
                                    console.log(error);
                                }
                                try{
                                    console.log("numGoods");
                                    console.log(numGoods);
                                    console.log(numGoods[index][i1]);
                                    for(var k=0;k<numGoods[index][i1][0].length;k++){
                                        stepItem.innerHTML += `<span style="color:darkgreen;">${numGoods[index][i1][0][k][0]} (<b>${numGoods[index][i1][0][k][1]}</b>)</span>, `;
                                    }
                                    for(var k=0;k<numGoods[index][i1][1].length;k++){
                                        stepItem.innerHTML += `<span style="color:darkgreen;">${numGoods[index][i1][1][k][0]} (<b>${numGoods[index][i1][1][k][1]}</b>)</span>, `;
                                    }
                                }
                                catch (error){
                                    console.log(error);
                                }
                                stepItem.innerHTML = stepItem.innerHTML.substring(0, stepItem.innerHTML.length-2);
                                i1 += 1;
                            } else {
                                stepItem.innerHTML = step.instructions + ` <strong>(${step.duration.text})</strong>`;
                                const innerSteps = document.createElement('ul');
                                innerSteps.style = 'padding-left: 50px; color:gray;';
                                var j = 0;
                                for (const innerstep of step.steps) {
                                    if (innerstep.instructions) {
                                        const innerStepItem = document.createElement('li');
                                        console.log(numIssues);
                                        console.log(index);
                                        console.log(i);
                                        console.log(j);
                                        innerStepItem.innerHTML = innerstep.instructions + ` <strong>(${innerstep.duration.text})</strong> - `;
                                        try{
                                            for(var k=0;k<numIssues[index][i][j].length;k++){
                                                innerStepItem.innerHTML += `<span style="color:darkred;">${numIssues[index][i][j][k][0]} (<b>${numIssues[index][i][j][k][1]}</b>)</span>, `
                                            }
                                        }
                                        catch (error){
                                            console.log(error);
                                        }
                                        innerStepItem.innerHTML = innerStepItem.innerHTML.substring(0, innerStepItem.innerHTML.length-2);
                                        innerStepItem.dataset.i = i;
                                        innerStepItem.dataset.j = j;
                                        innerStepItem.dataset.index = routeItem.dataset.index;
                                        innerStepItem.addEventListener('click', async function() {
                                            console.log(this.dataset.index);
                                            console.log(this.dataset.i);
                                            console.log(this.dataset.j);
                                            console.log(route_accessibility_check);
                                            console.log(route_accessibility_check[parseInt(this.dataset.index)][parseInt(this.dataset.i)][parseInt(this.dataset.j)]);
                                            let problem = prompt("Report an accessibility issue", "Uneven roads");
                                            if (problem == null || problem == "") {
                                            } else {
                                                console.log("Accessibility issue: " + problem);
                                                const response3 = await fetch("add-issue/", {
                                                    method: "POST",
                                                    cache: "no-cache",
                                                    headers: {
                                                        "Content-Type": "application/json",
                                                        'X-CSRFToken': '{{ csrf_token }}'
                                                    },
                                                    body: JSON.stringify({"places": route_accessibility_check[parseInt(this.dataset.index)][parseInt(this.dataset.i)][parseInt(this.dataset.j)], "issue": problem}),
                                                });
                                                const result3 = await response3.json();
                                                console.log(result3);
                                            }
                                        });
                                        innerSteps.appendChild(innerStepItem);
                                        
                                        j += 1;
                                    }
                                }
                                stepItem.appendChild(innerSteps);
                            }
                            document.getElementById("route-info-container").appendChild(stepItem);
                            i += 1;
                        }

                        const selectOtherRoute = document.createElement('button');
                        selectOtherRoute.innerHTML = "Select other route";
                        selectOtherRoute.addEventListener('click', () => {
                            routeListContainer.style.display = "block";
                            document.getElementById("route-info-container").style.display = "none";
                        });
                        document.getElementById("route-info-container").appendChild(selectOtherRoute);
                        document.getElementById("route-info-container").scrollTop = 0;
                    });

                    // Add the route item to the array
                    routeItems.push({routeItem, count, count2});
                }

                // Sort the route items based on the count (or any other criteria)
                if(accessibility){
                    routeItems.sort((a, b) => a.count - b.count + 0.5*(b.count2 - a.count2));
                }

                // Append the sorted route items to the route list container
                routeItems.forEach(item => routeListContainer.appendChild(item.routeItem));
            }



            // Add event listener to the new button
            document.getElementById('generate-routes').addEventListener('click', generateRoutes);

            initMap();
            document.getElementById("navigate").style.display = "none";
            document.getElementById("about").style.display = "none";
            document.getElementById("contact").style.display = "none";
            document.getElementById("prefs").style.display = "none";
            document.getElementById("mapsettings").style.display = "none";
            document.getElementById("account").style.display = "block";
            document.getElementById("responseText").style.display = "none";

            function closeSuccess(){
                document.getElementById("responseText").style.display = "none";
            }


            document.getElementById("to_navigate").addEventListener("click", async () => {
                fetch("check-completed-profile/", {
                    method: "POST",
                    cache: "no-cache",
                    headers: {
                        "Content-Type": "application/json",
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({}),
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if(data.status == true){
                        document.getElementById("navigate").style.display = "block";
                        document.getElementById("account").style.display = "none";
                        document.getElementById("about").style.display = "none";
                        document.getElementById("contact").style.display = "none";
                    }
                });
            });

            document.getElementById("to_account").addEventListener("click", async () => {
                document.getElementById("navigate").style.display = "none";
                document.getElementById("account").style.display = "block";
                document.getElementById("about").style.display = "none";
                document.getElementById("contact").style.display = "none";
                document.getElementById("profile").style.display = "block";
                document.getElementById("prefs").style.display = "none";
                document.getElementById("mapsettings").style.display = "none";
            });

            document.getElementById("to_about").addEventListener("click", async () => {
                document.getElementById("navigate").style.display = "none";
                document.getElementById("account").style.display = "none";
                document.getElementById("about").style.display = "block";
                document.getElementById("contact").style.display = "none";
            });

            document.getElementById("to_contact").addEventListener("click", async () => {
                document.getElementById("navigate").style.display = "none";
                document.getElementById("account").style.display = "none";
                document.getElementById("about").style.display = "none";
                document.getElementById("contact").style.display = "block";
            });

            document.getElementById("to_profile").addEventListener("click", async () => {
                document.getElementById("navigate").style.display = "none";
                document.getElementById("account").style.display = "block";
                document.getElementById("about").style.display = "none";
                document.getElementById("contact").style.display = "none";
                document.getElementById("profile").style.display = "block";
                document.getElementById("prefs").style.display = "none";
                document.getElementById("mapsettings").style.display = "none";
            });

            document.getElementById("to_prefs").addEventListener("click", async () => {
                fetch("check-completed-profile/", {
                    method: "POST",
                    cache: "no-cache",
                    headers: {
                        "Content-Type": "application/json",
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({}),
                })
                .then(response => response.json())
                .then(data => {
                    if(data.status == true){
                        document.getElementById("navigate").style.display = "none";
                        document.getElementById("account").style.display = "block";
                        document.getElementById("about").style.display = "none";
                        document.getElementById("contact").style.display = "none";
                        document.getElementById("profile").style.display = "none";
                        document.getElementById("prefs").style.display = "block";
                        document.getElementById("mapsettings").style.display = "none";
                    }
                });
            });

            document.getElementById("to_mapsettings").addEventListener("click", async () => {
                fetch("check-completed-profile/", {
                    method: "POST",
                    cache: "no-cache",
                    headers: {
                        "Content-Type": "application/json",
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({}),
                })
                .then(response => response.json())
                .then(data => {
                    if(data.status == true){
                        document.getElementById("navigate").style.display = "none";
                        document.getElementById("account").style.display = "block";
                        document.getElementById("about").style.display = "none";
                        document.getElementById("contact").style.display = "none";
                        document.getElementById("profile").style.display = "none";
                        document.getElementById("prefs").style.display = "none";
                        document.getElementById("mapsettings").style.display = "block";
                    }
                });
            });


            document.getElementById("btn-update-user-details").addEventListener('click', async () => {
                var firstname = document.getElementById("firstname").value;
                var lastname = document.getElementById("lastname").value;
                var phone = document.getElementById("phone").value;
                if(firstname != "" && lastname != "" && phone != ""){
                    fetch("update-user-details/", {
                        method: "POST",
                        cache: "no-cache",
                        headers: {
                            "Content-Type": "application/json",
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({ "firstname": firstname, "lastname": lastname, "phonenumber": phone }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        if(data.status == "OK"){
                            document.getElementById("responseText").style.display = "block";
                            document.getElementById("responseText").style.background = "lightgreen";
                            document.getElementById("responseText").innerHTML = "User details updated";
                            setTimeout(closeSuccess, 3000);
                        }
                        else{
                            document.getElementById("responseText").style.display = "block";
                            document.getElementById("responseText").style.background = "lightred";
                            document.getElementById("responseText").innerHTML = "Update failed";
                            setTimeout(closeSuccess, 3000);
                        }
                    });
                }
            });

            document.getElementById("btn-update-preferences").addEventListener('click', async () => {
                var lowfloorbuses = document.getElementById("lowfloorbuses").checked;
                var wheelchair = document.getElementById("wheelchair").checked;
                var serviceanimal = document.getElementById("serviceanimal").checked;
                var braille = document.getElementById("braille").checked;
                var elevators = document.getElementById("elevators").checked;
                fetch("update-user-prefs/", {
                    method: "POST",
                    cache: "no-cache",
                    headers: {
                        "Content-Type": "application/json",
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ "lowfloorbuses": lowfloorbuses, "wheelchair": wheelchair, "serviceanimal": serviceanimal, "braille": braille, "elevators": elevators }),
                })
                .then(response => response.json())
                .then(data => {
                });
            });

            document.getElementById("btn-update-mapsettings").addEventListener('click', async () => {
                var challenge = document.getElementById("challenge").checked;
                var accessibility = document.getElementById("accessibility").checked;
                var autosave = document.getElementById("autosave").checked;
                fetch("update-user-mapsettings/", {
                    method: "POST",
                    cache: "no-cache",
                    headers: {
                        "Content-Type": "application/json",
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ "challenge": challenge, "accessibility": accessibility, "autosave": autosave}),
                })
                .then(response => response.json())
                .then(data => {
                });
            });

            
        });
    </script>
{% endblock %}