{% extends 'base.html' %}
{% load static %}
{% block body %}
<style>
    body {
        color: #fff;
        font-family: "Work Sans", sans-serif;
        background-image: url("{% static './homeBg.png' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: black; margin: 0;padding: 0;
    }

    nav {
        position: absolute;
        left: 40px;
        height: 5vh;
        display: flex;
        align-items: center;
    }

    nav .logo {
        width: 80px;
        height: 80px;
        background: url("{% static './logo.png' %}") no-repeat center center;
        background-size: contain;
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 20px;
    }

    nav ul li {
        display: inline;
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }

    .button-container {
        display: flex;
        gap: 40px; /* Adjust gap as needed */
        width:100%;
        margin-top: 30px;
    }

    .sign-up,
    .log-in {
        width: 100%;
        text-align: center;
    }

    .sign-up-parent,
    .log-in-parent {
        width: 20%;
        position: relative;
        box-shadow: 15px 20px 24.8px rgba(77, 36, 243, 0.2) inset, 1px 1px 1.5px rgba(255, 255, 255, 0.3) inset, 3px 4px 9.4px rgba(157, 132, 255, 0.2) inset;
        border-radius: 30px;
        background-color: #000;
        border: 1px solid rgba(255, 255, 255, 0.236);
        box-sizing: border-box;
        height: 43px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        text-align: left;
        font-size: 16px;
        color: #fff;
        cursor:pointer;
    }
</style>

<div style="height: 10vh; margin: 0; width: 100%; display: flex; align-items: center; justify-content: center;">
    <!-- <img src="./arrowup.png" style="height: 20%;"> -->
</div>
<div style="height: 10vh; margin: 0; width: 100%; display: flex; align-items: center;">
    <nav>
        <div class="logo"></div>
        <ul>
            <li><a id="home_link" href="{% url 'home' %}">Home</a></li>
            <li><a id="about_link" href="{% url 'home-about' %}">About</a></li>
            <li><a id="contact_link" href="{% url 'home-contact' %}">Contact</a></li>
        </ul>
    </nav>
</div>
<div style="height: 70vh; margin: 0; width: 100%; display: flex; align-items: center;">
    <div style="text-align: left; margin-left: 40px;">
        <h1 style="font-size: 100px; margin-bottom: 0; margin-left: 0;">Navigate without worry</h1>
        <p style="margin-left: 6px;">From selecting for low floor buses to wheelchair accessible routes, TransitAssist allows you to plan transportation routes for accessibility.</p>
        <div class="button-container">
            <div class="sign-up-parent">
                <div class="sign-up">Sign Up</div>
            </div>
            <div class="log-in-parent">
                <div onclick="goToLogin()" class="log-in">Log In</div>
            </div>
        </div>
    </div>
</div>
<div style="height: 10vh; margin: 0; width: 100%; display: flex; align-items: center; justify-content: center;">
    <img src="{% static './arrowdown.png' %}" style="height: 20%;">
</div>

<script>
    function goToLogin(){
        window.location.href = "{% url 'login' %}";
    }

    function goToSignup(){
        window.location.href = "{% url 'signup' %}";
    }

    document.addEventListener('keydown', (event) => {
        switch(event.key){
            case 'ArrowDown':
                document.getElementById("about_link").click();
                break;
        }
    });
</script>
{% endblock %}
